<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= BASE_URL %>fav/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= BASE_URL %>fav/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= BASE_URL %>fav/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= BASE_URL %>fav/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= BASE_URL %>fav/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= BASE_URL %>fav/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= BASE_URL %>fav/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= BASE_URL %>fav/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="<%= BASE_URL %>fav/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="<%= BASE_URL %>fav/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="<%= BASE_URL %>fav/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="<%= BASE_URL %>fav/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="<%= BASE_URL %>fav/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="<%= BASE_URL %>fav/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="<%= BASE_URL %>fav/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="<%= BASE_URL %>fav/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="<%= BASE_URL %>fav/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="<%= BASE_URL %>fav/mstile-310x310.png" />


  <title>MilkUp</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
</head>

<body>
  <noscript>
    <strong>Você precisa habilitar o javascript no seu navegador para poder acessar o MilkUp.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>