<template>
  <div>
    <!-- :height="$vuetify.breakpoint.xsOnly ? 400 : 500" -->
    <v-parallax dark :src="require('../assets/images/banner04.jpg')" height="110%">
      <v-container class="text-xs-center">
        <v-layout align-center class="my-3">
          <v-flex sm12 md6 v-if="!$vuetify.breakpoint.smAndDown">
            <img :src="require('../assets/images/smartphone.png')" height="400">
          </v-flex>
          <v-flex sm12 md6 class="dark-box">
            <h1 class="display-2 mb-3">Por que utilizar os apps MilkUp?</h1>
            <p
              class="headline"
            >O MilkUp possui dois apps, sendo reprodutivo e qualidade, assim o produtor tem acesso ao rebanho na palma da mão.</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-parallax>

    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex xs12 offset-sm2 sm4 mb-4>
          <img :src="require('../assets/icons-white/reproducao.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Reprodução</h2>
          <p>Com o APP reprodução o produtor tem todas as informações reprodutivas de seu rebanho, pode atualizar informações gerando previsões e indicadores.</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/qualidade.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Qualidade</h2>
          <p>Com o APP de coleta, o produtor tem acesso rapido e prático no acesso da qualidade e quantidade do leite coletado, com pouco tempo após a coleta o produtor já tem acesso a informações de analise, total coletado e preço a ser pago pelo laticinio.</p>
        </v-flex>
      </v-layout>
    </v-container>

    <div>
      <!-- <v-parallax dark :src="require('../assets/images/banner09.jpg')"> -->
      <!-- <v-container class="text-xs-center">
        <v-layout align-center>
          <v-flex sm12>
            <v-carousel>
              <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
            </v-carousel>
          </v-flex>
        </v-layout>
      </v-container>-->
      <!-- </v-parallax> -->
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          src: require("../assets/images/banner01.jpg")
        },
        {
          src: require("../assets/images/banner04.jpg")
        },
        {
          src: require("../assets/images/banner08.jpg")
        },
        {
          src: require("../assets/images/banner09.jpg")
        }
      ]
    };
  }
};
</script>
