<template>
  <div>
    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex xs12>
          <h2 class="font-weight-thin my-3 text-uppercase">O que procura?</h2>
        </v-flex>
        <v-flex xs8>
          <v-text-field solo></v-text-field>
        </v-flex>
        <v-flex xs4>
          <v-btn color="white" class="ma-0 input-height" large block>
            Filtrar&nbsp;
            <v-icon>filter_list</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <h2 class="font-weight-thin text-uppercase">Resultados</h2>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container grid-list-xl>
      <v-layout wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="(item, i) in resultados" :key="i">
          <v-card>
            <v-carousel hide-delimiters height="100%" class="elevation-0" v-if="item.fotos">
              <v-carousel-item v-for="(foto,j) in item.fotos" :key="j">
                <v-img :src="foto.url" aspect-ratio="1"></v-img>
              </v-carousel-item>
            </v-carousel>
            <v-carousel hide-delimiters height="100%" class="elevation-0" v-else>
              <v-carousel-item>
                <v-img src="@/assets/images/sem_foto.png" aspect-ratio="1"></v-img>
              </v-carousel-item>
            </v-carousel>

            <v-card-title primary-title class="pb-0">
              <div>
                <h3 class="headline mb-0 brown--text" v-if="item.raca">{{item.raca}}</h3>
                <span class="brown--text" v-if="item.valor">{{item.valor}}</span>
                <span
                  class="brown--text"
                  v-if="item.data_nascimento"
                >Nascido em {{(new Date(item.data_nascimento)).toLocaleString('pt-BR', {weekday: 'short', month: 'short', day: 'numeric' })}}</span>
                <span
                  class="brown--text"
                  v-if="item.sexo"
                >&nbsp;/ {{item.sexo === 'M' ? 'Macho' : 'Fêmea'}}</span>
                <span class="brown--text" v-if="item.endereco">&nbsp;/ {{item.endereco}}</span>
                <span class="brown--text" v-if="item.telefone">&nbsp;/ {{item.telefone}}</span>
              </div>
            </v-card-title>

            <v-card-actions class="justify-center">
              <v-btn flat color="orange">Detalhes</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      resultados: []
    };
  },
  created() {
    this.carregaItens();
  },
  methods: {
    async carregaItens() {
      let response, data;
      try {
        // tenta logar e obter a lista de laticionios
        response = await this.$axios.get("/global/ws/rebanho");

        data = await response.data;

        data.forEach(item => {
          item.fotos = JSON.parse(item.fotos);
        });

        this.resultados = data;
      } catch (error) {
        console.log("error", error);
      } finally {
        this.logando = false;
      }
    }
  }
};
</script>