<template>
  <div>
    <!-- :height="$vuetify.breakpoint.xsOnly ? 450 : 500" -->
    <v-parallax dark :src="require('../assets/images/banner10.jpg')" height="110%">
      <v-container class="text-xs-center">
        <v-layout align-center class="my-3">
          <v-flex sm12 offset-md6 md6 class="dark-box">
            <h1 class="display-2 mb-3">Como podemos ajudar?</h1>
            <p
              class="headline"
            >Com nossa equipe altamente capacitada, fornecemos consultoria técnica de qualidade para diversas áreas abrangendo toda cadeia do leite.</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-parallax>

    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/zootecnia.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Consultoria Zootécnica</h2>
          <p>Reprodução / Genética / Produção / Qualidade</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img
            :src="require('../assets/icons-white/consultoria-financeira.png')"
            height="128"
            class="mt-5"
          >
          <h2 class="font-weight-thin mb-3 text-uppercase">Consultoria Financeira</h2>
          <p>Contabilidade / Controle de custo / Crédito</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img
            :src="require('../assets/icons-white/consultoria-fiscal.png')"
            height="128"
            class="mt-5"
          >
          <h2 class="font-weight-thin mb-3 text-uppercase">Consultoria Fiscal</h2>
          <p>Obrigatoriedade acessórias / NFe / Nota fiscal do produtor / GTA</p>
        </v-flex>
      </v-layout>
    </v-container>

    <div>
      <!-- <v-parallax dark :src="require('../assets/images/banner09.jpg')"> -->
      <!-- <v-container class="text-xs-center">
        <v-layout align-center>
          <v-flex sm12>
            <v-carousel>
              <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
            </v-carousel>
          </v-flex>
        </v-layout>
      </v-container>-->
      <!-- </v-parallax> -->
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          src: require("../assets/images/banner01.jpg")
        },
        {
          src: require("../assets/images/banner04.jpg")
        },
        {
          src: require("../assets/images/banner08.jpg")
        },
        {
          src: require("../assets/images/banner09.jpg")
        }
      ]
    };
  }
};
</script>
