<template>
  <div>
    <!-- :height="$vuetify.breakpoint.xsOnly ? 760 : 580" -->
    <v-parallax dark :src="require('../assets/images/banner01.jpg')" height="110%">
      <v-container class="text-xs-center">
        <v-layout align-center column justify-center class="my-3">
          <img
            :src="require('../assets/images/logo_branca_transparente.png')"
            alt="logo"
            class="my-3"
          >
          <h1 class="display-2 font-weight-thin mb-5">Gestão de Leite</h1>
          <!-- <h4
            class="subheading"
          >Um conjunto de perguntas são utilizados para criar dados suficientes para poder realizar este diagnóstico e posteriormente determinar um planejamento para atuação nos processos produtivos da empresa. Quer saber quais são essas perguntas, e como esses pilares se dividem? Não deixe de ler o próximo artigo. Por enquanto, iremos abordar o primeiro pilar, o da Nutrição.</h4>-->
          <v-layout row wrap class="pa-3 mb-2">
            <!-- <v-flex>
              <img
                :src="require('../assets/images/botao_app_store.png')"
                alt="App Store"
                class="mr-2"
                height="56"
              >
            </v-flex>-->
            <v-flex>
              <a href="https://play.google.com/store/apps/details?id=com.milkup" target="_blank">
                <img
                  :src="require('../assets/images/botao_google_play.png')"
                  alt="Google Play"
                  class="mr-2"
                  height="56"
                >
              </a>
            </v-flex>
            <!-- <v-flex>
              <img
                :src="require('../assets/images/botao_assista_o_video.png')"
                alt="Assita o vídeo"
                class="mr-2"
                height="56"
              >
            </v-flex>
            <v-flex>
              <img
                :src="require('../assets/images/botao_tenho_interesse.png')"
                alt="Tenho interesse"
                class="mr-2"
                height="56"
              >
            </v-flex>-->
          </v-layout>
        </v-layout>
      </v-container>
    </v-parallax>
    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/consultoria.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Consultoria técnica</h2>
          <p>A MilkUp presta consultoria técnica em diversas áreas como, qualidade, reprodução, sanidade, infraestrutura e outros.</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/terceirizacao.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Terceirização</h2>
          <p>Temos equipes especializadas nas áreas, fiscal, contábil, recebimento e enquadramento fiscal, suporte administrativo, apoio logístico, comercial, técnico e outros.</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/sistema.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Software</h2>
          <p>Criamos um software totalmente inovador para tender todas as demandas das propriedades rurais, como financeiro, zootécnico, qualidade e produtividade e outros.</p>
        </v-flex>
      </v-layout>
    </v-container>
    <v-parallax dark :src="require('../assets/images/banner02.jpg')" height="110%">
      <v-container class="text-xs-center">
        <v-layout align-center class="my-3">
          <v-flex sm12 md8>
            <h1 class="display-2 mb-3">Com o MILK UP você...</h1>
            <p
              :class="$vuetify.breakpoint.xsOnly ? 'subheading' : 'headline'"
            >Um Software completo que visa melhoria da atividade leiteira abrangendo todas áreas da propriedade rural, entre elas, financeiras, reprodutivas, qualidade, produtividade gerando indicadores essenciais na tomada de decisão.</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-parallax>
    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex xs12 offset-sm2 sm4 mb-4>
          <img :src="require('../assets/icons-white/fiscal.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Fiscal</h2>
          <p>Fator fundamental para assegurar a rentabilidade dos produtores, a competitividade da indústria e a segurança alimentar dos consumidores, a qualidade do leite depende de uma série de aspectos relacionados a manejo, sanidade e nutrição, entre outros.</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/vantagens.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Vantagens</h2>
          <p>O Software MilkUp é uma ferramenta completa para consultoria técnica, monitoramento, coleta, qualidade e produtividade da atividade leiteira visando sempre a melhoria na qualidade e produtividade atendendo exigencias do Ministéria da Agricultura</p>
        </v-flex>
      </v-layout>
    </v-container>
    <v-parallax
      dark
      :src="require('../assets/images/banner03-clean.jpg')"
      :height="$vuetify.breakpoint.smAndDown ? '100%' : 500"
    >
      <v-layout align-center justify-center>
        <v-flex xs12 sm4>
          <v-img
            :src="require('../assets/images/logo-branca-transparente-grande.png')"
            contain
            height="400"
          ></v-img>
        </v-flex>
      </v-layout>
    </v-parallax>
    <v-container grid-list-md id="contato">
      <v-layout text-xs-center wrap>
        <v-flex sm12 md12 lg4 mb-4>
          <GmapMap
            :center="{lat:-25.433649, lng:-49.279741}"
            :zoom="15"
            map-type-id="terrain"
            style="width: 100%; height: 300px"
          >
            <GmapMarker :position="{lat:-25.433649, lng:-49.279741}"/>
          </GmapMap>
        </v-flex>

        <v-flex md12 lg8>
          <v-layout text-xs-center wrap>
            <v-flex sm6>
              <h2>PORTO ALEGRE</h2>
              <v-container grid-list-md class="contato">
                <v-layout align-center class="mb-3">
                  <v-avatar color="white">
                    <v-icon color="blue">phone</v-icon>
                  </v-avatar>
                  <span class="ml-3">+55 51 3026-0320</span>
                </v-layout>
                <v-layout class="text-xs-left">
                  <v-avatar color="white">
                    <v-icon color="blue">place</v-icon>
                  </v-avatar>
                  <span
                    class="ml-3"
                  >Avenida Carlos Gomes, 777, conj. 1506 - Bairro Boa Vista - Porto Alegre-RS - 90480-003</span>
                </v-layout>
              </v-container>
            </v-flex>

            <v-flex sm6>
              <h2>CURITIBA</h2>
              <v-container grid-list-md class="contato">
                <v-layout align-center class="mb-3">
                  <v-avatar color="white">
                    <v-icon color="blue">phone</v-icon>
                  </v-avatar>
                  <span class="ml-3">+55 41 3077-7429</span>
                </v-layout>
                <v-layout class="text-xs-left">
                  <v-avatar color="white">
                    <v-icon color="blue">place</v-icon>
                  </v-avatar>
                  <span
                    class="ml-3"
                  >Rua Visconde do Rio Branco, 1358, conj. 206 - Centro - Curitiba-PR - 80420-210</span>
                </v-layout>
              </v-container>
            </v-flex>

            <v-flex>
              <v-container grid-list-md class="contato">
                <v-layout align-center justify-center>
                  <v-avatar color="white">
                    <v-icon color="blue">mail</v-icon>
                  </v-avatar>
                  <span class="ml-3">
                    <a href="mailto:contato@milkup.com.br">contato@milkup.com.br</a>
                  </span>
                </v-layout>
              </v-container>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
const TIMEOUT = 1;

export default {
  mounted() {
    if (this.$route.hash) {
      setTimeout(() => this.scrollTo(this.$route.hash), TIMEOUT);
    }
  },
  methods: {
    scrollTo: function(hashtag) {
      setTimeout(() => {
        location.href = hashtag;
      }, TIMEOUT);
    }
  }
};
</script>
