<template>
  <div>
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex text-xs-center xs12>
          <h2 class="font-weight-thin my-3 text-uppercase display-1">Política de privacidade</h2>
        </v-flex>

        <v-flex xs12 class="subheading">
          <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar o uso do nosso sistema mais produtiva e agradável possível.</p>
          <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso sistema é importante para o MilkUp.</p>
          <p>Todas as informações pessoais relativas a técnicos, veterinários, usuários ou produtores que usem o MilkUp serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
          <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, localicação, dados financeiros e/ou zootécnicos e/ou outros.</p>
          <p>O uso do MilkUp pressupõe a aceitação deste Acordo de privacidade. A equipe do MilkUp reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
          <p>O MilkUp possui ligações para outros sites como google e correios, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos usuários. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.</p>
          <p>Quais informações coletamos?</p>
          <p>Para melhorar sua experiência MilkUp nós coletamos dados financeiros, zootécnicos, localização, controle leiteiro de produção, qualidade e outros. Ao clicar no botão concordo, você aceita a nossa política de privacidade do seus dados.</p>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {}
};
</script>