<template>
  <div>
    <!-- :height="$vuetify.breakpoint.xsOnly ? 600 : 500" -->
    <v-parallax class="overflow" dark :src="require(`../assets/images/banner04.jpg`)" height="110%">
      <v-container class="text-xs-center">
        <v-layout align-center class="my-3">
          <!-- <v-flex
            sm12
            md6
            v-if="!$vuetify.breakpoint.smAndDown"
            id="notebook-overflow-container"
          >
            <img
              id="notebook-overflow"
              class="mt-5"
              :src="require('../assets/images/notebook.png')"
            >
          </v-flex>-->
          <v-flex sm12 md6 v-if="!$vuetify.breakpoint.smAndDown">
            <v-img src="@/assets/images/notebook.png" contain height="400"></v-img>
          </v-flex>
          <v-flex sm12 md6 class="dark-box">
            <h1 class="display-2 mb-3">Porque utilizar o software MilkUp?</h1>
            <p
              class="headline"
            >Um Software completo que visa melhoria da atividade leiteira abrangendo todas áreas da propriedade rural, entre elas, financeiras, reprodutivas, qualidade, produtividade gerando indicadores essenciais na tomada de decisão.</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-parallax>

    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/financeiro.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Financeiro</h2>
          <p>Fluxo de caixa / Economia / Compra e venda / Projeção de custos / Projetos de rentabilidade</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/zootecnia.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Zootecnica</h2>
          <p>Controle sanitário / Controle reprodutivo / Histórico genético / Evolução de rebanho / Melhoramento genético</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img :src="require('../assets/icons-white/qualidade.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Qualidade e produtividade</h2>
          <p>Controle de produção / Evolução dos principais itens de qualidade / Conta corrente com o laticínio / Tabela de preço de qualidade</p>
        </v-flex>
      </v-layout>
    </v-container>

    <div>
      <!-- <v-parallax dark :src="require('../assets/images/banner09.jpg')"> -->
      <!-- <v-container class="text-xs-center">
        <v-layout align-center>
          <v-flex sm12>
            <v-carousel>
              <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
            </v-carousel>
          </v-flex>
        </v-layout>
      </v-container>-->
      <!-- </v-parallax> -->
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          src: require("../assets/images/banner01.jpg")
        },
        {
          src: require("../assets/images/banner04.jpg")
        },
        {
          src: require("../assets/images/banner08.jpg")
        },
        {
          src: require("../assets/images/banner09.jpg")
        }
      ]
    };
  }
};
</script>
