<template>
  <div>
    <v-parallax dark :src="require('../assets/images/banner06.jpg')" height="110%">
      <v-container class="text-xs-center">
        <v-layout align-center class="my-3">
          <v-flex sm12 md6 v-if="!$vuetify.breakpoint.smAndDown"></v-flex>
          <v-flex sm12 md6 class="dark-box">
            <h1 class="display-2 mb-3">Por que terceirizar conosco?</h1>
            <p
              class="headline"
            >Com acompanhamento técnico e atendimento humanizado, nossos times são definidos na medida para a necessidade do seu negócio e geridos com a pessoalização que sua empresa precisa.</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-parallax>

    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex xs12 offset-sm2 sm4 mb-4>
          <img :src="require('../assets/icons-white/outsourcing.png')" height="128" class="mt-5">
          <h2 class="font-weight-thin mb-3 text-uppercase">Outsourcing</h2>
          <p>Equipes especializadas / Fiscal, contábil, recebimento e enquadramento fiscal / Suporte administrativo / Apoio logístico / Comercial / Produção</p>
        </v-flex>
        <v-flex xs12 sm4 mb-4>
          <img
            :src="require('../assets/icons-white/recrutamento-e-selecao.png')"
            height="128"
            class="mt-5"
          >
          <h2 class="font-weight-thin mb-3 text-uppercase">Recrutamento e seleção</h2>
          <p>Processo Customizado / Testagens técnicas e comportamentais</p>
        </v-flex>
      </v-layout>
    </v-container>

    <div>
      <!-- <v-parallax dark :src="require('../assets/images/banner09.jpg')"> -->
      <!-- <v-container class="text-xs-center">
        <v-layout align-center>
          <v-flex sm12>
            <v-carousel>
              <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
            </v-carousel>
          </v-flex>
        </v-layout>
      </v-container>-->
      <!-- </v-parallax> -->
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          src: require("../assets/images/banner01.jpg")
        },
        {
          src: require("../assets/images/banner04.jpg")
        },
        {
          src: require("../assets/images/banner08.jpg")
        },
        {
          src: require("../assets/images/banner09.jpg")
        }
      ]
    };
  }
};
</script>
