<template>
  <v-list>
    <v-list-tile
      :disabled="loading"
      class="primary mb-2"
      v-for="laticinio in laticinios"
      :key="laticinio.laticinio"
      @click="selecionarLaticinio(laticinio)"
    >
      <v-list-tile-content>
        <v-list-tile-title justify-center>
          <span class="white--text">{{laticinio.laticinio}}</span>&nbsp;
          <span class="grey--text text--lighten-2 caption">// {{laticinio.cargo}}</span>
        </v-list-tile-title>
        <!-- <v-list-tile-sub-title class="grey--text text--lighten-1" v-text="laticinio.cargo"></v-list-tile-sub-title> -->
      </v-list-tile-content>

      <v-list-tile-avatar v-if="laticinio.loading">
        <v-progress-circular indeterminate color="white"></v-progress-circular>
      </v-list-tile-avatar>
    </v-list-tile>
  </v-list>
</template>
<script>
export default {
  data() {
    return {
      loading: false
    };
  },
  props: {
    laticinios: {
      type: Array,
      required: true
    },
    usuario: {
      type: String,
      required: true
    },
    senha: {
      type: String,
      required: true
    }
  },
  methods: {
    async selecionarLaticinio(laticinioSelecionado) {
      let response, dataLogar;
      laticinioSelecionado.loading = true;
      this.loading = true;

      try {
        // realiza o login no laticinio selecionado
        response = await this.$axios.post(
          `/${laticinioSelecionado.sistema}/login/logar`,
          this.$qs.stringify({
            email: this.usuario,
            senha: this.senha,
            lembrar: false
          })
        );

        dataLogar = await response.data;

        // autentica a pessoa, REDUNDANTE
        response = await this.$axios.post(
          `/${laticinioSelecionado.sistema}/login/autenticarPessoa`,
          this.$qs.stringify({
            id_pessoa: dataLogar[0].id_pessoa,
            nome: dataLogar[0].nome,
            id_laticinio: dataLogar[0].id_laticinio
          })
        );

        // dataAutenticar = await response.data;
        await response.data;

        // depois de autenticado, vamos redirecionar para o sistema
        if (response) {
          location.replace(
            this.$axios.defaults.baseURL +
              laticinioSelecionado.sistema +
              "/index/"
          );
        }

        // somente agora terminou o processo
      } catch (error) {
        console.log("error", error);
      }
    }
  }
};
</script>
