html,
body {
    scroll-behavior: smooth;
}

.contato a {
    text-decoration: none;
}

.parallax {
    min-height: 380px;
}

.overflow {
    overflow: visible !important;
}

#app {
    background: #0084cf;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

.fundo-azul {
    background: #0084cf !important;
}

.texto-azul {
    color: #0084cf !important;

    a {
        color: #0084cf !important;
    }
}

.contato {
    background: transparent !important;

    span {
        font-size: 20px;
    }
}

.text-shadow {
    text-shadow: -1px 1px 0px #000000;
}

.input-height {
    height: 48px;
}

#notebook-overflow-container {
    height: 500px;
}

#notebook-overflow {
    padding-top: 100px;
    max-height: 550px;
    max-width: 800px;
    height: auto;
    width: auto;
}

#logo-cabecalho {
    cursor: pointer;
}

#menu-principal {
    .v-btn {
        margin-right: 10px;
    }
}

.dark-box {
    background: rgba(41, 22, 0, 0.5);
    padding: 10px;
}

@media only screen and (max-width: 960px) {
    #logo {
        background-color: #0084cf;
        // background: url("images/drop-header.png") top center no-repeat, url("images/drop-header-bg.png") top center repeat;
        background-image: url("images/drop-header.png"), url("images/drop-header-bg.png");
        background-position: bottom right, top center;
        background-repeat: no-repeat, repeat-x;

        .v-toolbar__extension {
            margin-bottom: 8px;
        }
    }

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        width: 0 !important
    }

    html,
    body {
        overflow: -moz-scrollbars-none;
    }

    html,
    body {
        -ms-overflow-style: none;
    }
}

@media only screen and (min-width: 961px) {
    #logo {
        background-color: #0084cf;
        // background: url("images/drop-header.png") top center no-repeat, url("images/drop-header-bg.png") top center repeat;
        background-image: url("images/drop-header.png"), url("images/drop-header-bg.png");
        background-position: top center, top center;
        background-repeat: no-repeat, repeat-x;

        .v-toolbar__extension {
            margin-bottom: 8px;
        }
    }
}

// FIXES
.v-label.theme--dark {
    color: #fff !important
}

.v-carousel__controls {
    background-color: transparent;
}