<template>
  <v-app>
    <v-snackbar v-model="snackbar" bottom multi-line right>
      {{ snackbarText }}
      <v-btn flat @click="snackbar = false">Fechar</v-btn>
    </v-snackbar>

    <v-navigation-drawer light class="texto-azul" right v-model="drawer" fixed temporary>
      <v-list class="pt-0 text-uppercase" dense>
        <v-list dense class="pt-0">
          <v-list-tile
            @click.stop="item.method ? item.method() : navigate(item.link)"
            v-for="item in menuSemLogin"
            :key="item.link"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{item.nome}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-list>

      <v-divider></v-divider>

      <v-container>
        <v-layout row wrap v-if="!laticinios">
          <v-flex xs12>
            <span>Login</span>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              :disabled="logando"
              name="email"
              label="E-mail"
              v-model="usuario"
              required
              :rules="[rules.required, rules.email]"
              @keyup.native.enter="$refs.senhaDrawer.focus"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              :disabled="logando"
              ref="senhaDrawer"
              password
              label="Senha"
              v-model="senha"
              required
              :append-icon="mostrarSenha ? 'visibility_off' : 'visibility'"
              :rules="[rules.required]"
              :type="mostrarSenha ? 'text' : 'password'"
              @click:append="mostrarSenha = !mostrarSenha"
              @keyup.native.enter="logar"
            ></v-text-field>
          </v-flex>
          <v-layout justify-end>
            <v-btn
              class="ma-0"
              color="primary"
              @click.stop="logar"
              :disabled="logando || !usuario || !senha"
            >Login</v-btn>
          </v-layout>
        </v-layout>
      </v-container>

      <ListaLaticinios
        :usuario="usuario"
        :senha="senha"
        :laticinios="laticinios"
        v-if="laticinios"
      />
    </v-navigation-drawer>

    <v-fab-transition>
      <v-btn fixed bottom right fab large flat @click="contato()">
        <img :src="require('./assets/icons/whatsapp.png')" height="48">
      </v-btn>
    </v-fab-transition>

    <v-dialog v-model="loginDialog" width="400" :persistent="logando || !!laticinios">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>Login</v-card-title>

        <ListaLaticinios
          :usuario="usuario"
          :senha="senha"
          :laticinios="laticinios"
          v-if="laticinios"
        />
        <v-card-text v-else>
          <v-text-field
            :disabled="logando"
            name="email"
            label="E-mail"
            v-model="usuario"
            required
            :rules="[rules.required, rules.email]"
            @keyup.native.enter="$refs.senhaDialog.focus"
          ></v-text-field>
          <v-text-field
            :disabled="logando"
            ref="senhaDialog"
            password
            label="Senha"
            v-model="senha"
            required
            :append-icon="mostrarSenha ? 'visibility_off' : 'visibility'"
            :rules="[rules.required]"
            :type="mostrarSenha ? 'text' : 'password'"
            @click:append="mostrarSenha = !mostrarSenha"
            @keyup.native.enter="logar"
          ></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            flat
            @click.stop="loginDialog = false"
            v-if="!laticinios"
            :disabled="logando || laticinios"
          >Cancelar</v-btn>
          <v-btn
            color="primary"
            flat
            @click.stop="logar"
            v-if="!laticinios"
            :loading="logando"
            :disabled="logando || !usuario || !senha"
          >Entrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-toolbar
      app
      :height="$vuetify.breakpoint.smAndDown ? 80 : 140"
      id="logo"
      extension-height="35"
    >
      <v-img
        id="logo-cabecalho"
        @click.stop="navigate('/')"
        :src="require('./assets/images/logo_central.png')"
        class="my-3"
        contain
        :height="$vuetify.breakpoint.smAndDown ? 40 : 80"
      ></v-img>
      <!-- <v-toolbar-items slot="extension" v-if="$vuetify.breakpoint.xsOnly">
      </v-toolbar-items>-->
      <v-spacer slot="extension" v-if="!$vuetify.breakpoint.smAndDown"></v-spacer>
      <v-toolbar-items id="menu-principal" slot="extension" v-if="!$vuetify.breakpoint.smAndDown">
        <v-btn
          dark
          flat
          v-for="item in menu"
          :key="item.link"
          :class="item.class"
          @click.stop="item.method ? item.method() : navigate(item.link)"
        >{{item.nome}}</v-btn>
      </v-toolbar-items>
      <v-spacer slot="extension" v-if="!$vuetify.breakpoint.smAndDown"></v-spacer>

      <v-toolbar-side-icon v-if="$vuetify.breakpoint.smAndDown" dark @click.stop="drawer = true"></v-toolbar-side-icon>
    </v-toolbar>

    <v-content>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </v-content>

    <div class="white black--text">
      <v-container>
        <v-layout text-xs-center wrap>
          <v-flex xs12>
            <v-img
              :src="require('./assets/images/logo-dark.png')"
              class="mt-3 mb-1"
              contain
              height="30"
            ></v-img>
            <p class="headline font-weight-bold texto-azul">2019</p>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </v-app>
</template>

<script>
import ListaLaticinios from "./components/ListaLaticinios";

export default {
  name: "App",
  components: {
    ListaLaticinios
  },
  data() {
    return {
      laticinios: null,
      snackbar: false,
      snackbarText: "",
      drawer: false,
      loginDialog: false,
      logando: false,
      usuario: "",
      senha: "",
      mostrarSenha: false,
      menu: [
        { nome: "Home", link: "/" },
        { nome: "Consultoria", link: "/consultoria" },
        { nome: "Software", link: "/software" },
        { nome: "Aplicativos", link: "/aplicativos" },
        { nome: "Terceirização", link: "/terceirizacao" },
        // { nome: "Fiscal", link: "/fiscal" },
        { nome: "Classificados", link: "/classificados" },
        { nome: "Privacidade", link: "/privacidade" },
        { nome: "Contato", link: "/#contato" },
        { nome: "Login", method: this.openLogin, class: "v-btn--outline" }
      ],
      rules: {
        required: value => !!value || "Não pode ficar em branco.",
        min: v => v.length >= 4 || "Mínimo 4 caracteres",
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "O e-mail não parece correto.";
        }
      }
    };
  },
  methods: {
    navigate(to) {
      this.drawer = false;
      this.$router.push(to);
    },
    contato() {
      this.drawer = false;
      let win = window.open(
        "https://api.whatsapp.com/send?phone=5541999920190&text=&source=&data=",
        "_blank"
      );
      win.focus();
    },
    openLogin() {
      this.drawer = false;
      this.loginDialog = true;
    },
    async logar() {
      this.logando = true;
      let response, dataLogin;

      try {
        // tenta logar e obter a lista de laticionios
        response = await this.$axios.post(
          "/global/ws/login",
          this.$qs.stringify({
            Email: this.usuario,
            Senha: this.senha
          }),
          {
            headers: {
              "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          }
        );

        dataLogin = await response.data;

        // se houve algum erro, exibe a mensagem e finaliza o método
        if (dataLogin[0].codigo === 0) {
          this.snackbar = true;
          this.snackbarText = dataLogin[0].mensagem;
          this.logando = false;
          return;
        }

        // se chegou aqui então temos a lista de laticinios
        this.laticinios = dataLogin;
      } catch (error) {
        console.log(error);
        this.snackbar = true;
        this.snackbarText =
          "Oops, ocorreu um erro inesperado, por favor entre em contato com o suporte.";
      } finally {
        this.logando = false;
      }
    }
  },
  computed: {
    menuSemLogin() {
      return this.menu.filter(item => item.nome !== "Login");
    }
  }
};
</script>
